* {
	box-sizing: border-box;
}

.CodeMirror{
	height: 100%;
	border-radius: 0 0 3px 3px;
}

.section-code {
	padding: 5px;
}

.navbar {
	margin: 0;
	border-radius: initial;	
}

.tab-content > .tab-pane{
	height: 350px;
}

.panel {	
	margin-bottom: 10px;
	height: 97%;	
}

.panel-heading {
	height: 11.5%;
}

.panel-body {	
	padding: 0;
	height: 88.5%;	
}

.preview {
	width: 100%;	
	border: none;
}

.row {
	margin: 0;
}


@media screen and (min-width: 992px) {
	html, body, .section-code, .tab-content{
		height: 100%;		
	}

	.nav-tabs {
		display: none;
	}

	.tab-content > .tab-pane{
		display: block;
		height: 33.3%;
	}

	.navbar {
		height: 10%;
	}

	.panel-heading {
		height: 21.5%;
	}

	.panel-body {	
		height: 78.5%;	
	}

	.preview {		
		height: 99%;		
	}

	.row {
		height: 90%;
	}	
}