* {
	box-sizing: border-box;
}

.section-code {
	padding: 5px;
}

.navbar {
	margin: 0;
	border-radius: initial;	
}

.tab-content > .tab-pane{
	height: 350px;
}

.panel {	
	margin-bottom: 10px;
	height: 97%;	
}

.panel-body {	
	padding: 5px;
}

.row {
	margin: 0;
}


@media screen and (min-width: 992px) {
	html, body, .section-code, .tab-content{
		height: 100%;		
	}

	.nav-tabs {
		display: none;
	}

	.tab-content > .tab-pane{
		display: block;
		height: 33.3%;
	}

	.navbar{
		height: 10%;
	}

	.row {
		height: 90%;
	}	
}