* {
	box-sizing: border-box;
}

.CodeMirror{
	height: 100%;
	border-radius: 0 0 3px 3px;
}

.CodeMirror-fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9;
}

.btn-fullscreen {
	position: absolute;
	top: 10px;
	right: 15px;
	color: inherit;
}

.btn-fullscreen:hover {
	color: inherit;
	font-size: 20px;
	top: 7px;
	right: 12px;
}

.section-code {
	padding: 5px;
}

.navbar {
	margin: 0;
	border-radius: initial;
}

.tab-content > .tab-pane{
	height: 350px;
}

.panel {
	margin-bottom: 10px;
	height: 97%;
}

.panel-heading {
	height: 11.5%;
	position: relative;
}

.panel-body {
	padding: 0;
	height: 88.5%;
}

.preview {
	width: 100%;
	border: none;
}

.row {
	margin: 0;
}

.btn-chat {
	position: fixed;
	right: 0;
	bottom: 5px;
	z-index: 6;
	display: none;
}

.chat
{
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 6;
	width: 350px;
	display: none;
}

.message
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.message li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.message li.left .message-body p
{
    margin-left: 25px;
}

.message li.right .message-body p
{
    margin-right: 25px;
}


.message li .message-body p
{
    margin: 0;
    color: #777777;
}

.panel-chat
{
		margin-bottom: 0;
		height: 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
}

.chat-body
{
    overflow-y: scroll;
    height: 250px;
		padding: 10px;
}










@media screen and (min-width: 992px) {
	html, body, .section-code, .tab-content{
		height: 100%;
	}

	.nav-tabs {
		display: none;
	}

	.tab-content > .tab-pane{
		display: block;
		height: 33.3%;
	}

	.navbar {
		height: 10%;
	}

	.panel-heading {
		height: 21.5%;
	}

	.panel-body {
		height: 78.5%;
	}

	.preview {
		height: 99%;
	}

	.row {
		height: 90%;
	}
}
