<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/codemirror.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>LiveCode</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
	    	<div class="navbar-header">
	        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
	        		<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
	      		</button>
	       		<a class="navbar-brand" href="#">LiveCode</a>
	    	</div>
				<div class="navbar-collapse collapse" id="bs-navbar-collapse" aria-expanded="false" style="height: 1px;">
					{% if user %}
		      <ul class="nav navbar-nav">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								Ejemplos
								<span class="caret"></span>
								</a>
		          <ul class="dropdown-menu" role="menu">
								{% for ejemplo in ejemplos %}
								<li><a id="ejem-{{ejemplo.id}}" class="ejemplo" href="#">{{ejemplo.nombre}}</a></li>
								{% endfor %}
								<li class="divider"></li>
		            <li><a href="#">Todos los ejemplos</a></li>
		          </ul>
		        </li>
						<li>
							<a id="confirmar" href="#">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Colaborar
							</a>
						</li>
		        <li>
							<a id="descargar" href="#">
								<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Descargar
							</a>
						</li>
		      </ul>
					{% endif %}
		      <ul class="nav navbar-nav navbar-right">
						{% if user %}
						<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								{{ user }}
								<span class="caret"></span>
								</a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/logout">Cerrar sesión</a></li>
		          </ul>
		        </li>
						{% else %}
						<li>
							<a href="/login">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar sesión
							</a>
						</li>
						{% endif %}
		      </ul>
		    </div>
	  </div>
	</nav>
	<div class="row">
		<div class="col-md-6 section-code">
		  	<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#html" aria-controls="home" role="tab" data-toggle="tab">HTML</a>
			    </li>
			    <li role="presentation">
			    	<a href="#css" aria-controls="profile" role="tab" data-toggle="tab">CSS</a>
			    </li>
			    <li role="presentation">
			    	<a href="#js" aria-controls="messages" role="tab" data-toggle="tab">JS</a>
			    </li>
		  	</ul>
		  	<div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="html">
			    	<div class="panel panel-danger">
			  			<div class="panel-heading">
			    			<h3 class="panel-title">HTML</h3>
								<a href="#" class="btn-fullscreen"><span class="glyphicon glyphicon-new-window"></span></a>
			  			</div>
			  			<div class="panel-body">

<textarea id="htmlTextArea">
<!DOCTYPE html>
<html>
  <head>
    <title>LiveCode Demo</title>
  </head>
  <body>
  <!-- Inicio de código -->

	<h1>Hola mundo!!!!</h1>

  <!-- Fin de código -->
  </body>
</html>
</textarea>

			  			</div>
					</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="css">
			    	<div class="panel panel-info">
			  			<div class="panel-heading">
			    			<h3 class="panel-title">CSS</h3>
								<a href="#" class="btn-fullscreen"><span class="glyphicon glyphicon-new-window"></span></a>
			  			</div>
			  			<div class="panel-body">
			    			<textarea id="cssTextArea"></textarea>
			  			</div>
					</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="js">
			    	<div class="panel panel-warning">
			  			<div class="panel-heading">
			    			<h3 class="panel-title">JS</h3>
								<a href="#" class="btn-fullscreen"><span class="glyphicon glyphicon-new-window"></span></a>
			  			</div>
			  			<div class="panel-body">
			    			<textarea id="jsTextArea"></textarea>
			  			</div>
					</div>
			    </div>
		  	</div>
		</div>
		<div class="col-md-6 section-code">
			<iframe class="preview" id="preview" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts"></iframe>
		</div>
	</div>




	<button id="openchat" class="btn btn-success btn-xs btn-chat">
		<span class="glyphicon glyphicon-comment"></span>
	</button>
	<div class="chat">
  	<div class="panel panel-success panel-chat">
	    <div class="panel-heading chat-header">
	      <span class="glyphicon glyphicon-comment"></span> Chat
				<div class="btn-group pull-right">
          <a id="closechat" href="#" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
	    </div>
      <div class="panel-body">
				<div class="chat-body">
	        <ul class="message">
	          <li class="left clearfix">
	            <div class="message-body clearfix">
	              <div class="header">
	              	<strong class="primary-font">Jack Sparrow</strong>
									<small class="pull-right text-muted">
	                	<span class="glyphicon glyphicon-time"></span>12 mins ago
									</small>
	              </div>
	              <p>
	              	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
	                dolor, quis ullamcorper ligula sodales.
	              </p>
	            </div>
	          </li>
	          <li class="right clearfix">
	            <div class="message-body clearfix">
	              <div class="header">
	                <small class=" text-muted">
										<span class="glyphicon glyphicon-time"></span>13 mins ago
									</small>
	                <strong class="pull-right primary-font">Bhaumik Patel</strong>
	              </div>
	              <p>
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
	                dolor, quis ullamcorper ligula sodales.
	              </p>
	            </div>
	          </li>
	          <li class="left clearfix">
	            <div class="message-body clearfix">
	              <div class="header">
	                <strong class="primary-font">Jack Sparrow</strong>
									<small class="pull-right text-muted">
	                    <span class="glyphicon glyphicon-time"></span>14 mins ago
									</small>
	              </div>
	              <p>
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
	                dolor, quis ullamcorper ligula sodales.
	              </p>
	            </div>
	          </li>
	          <li class="right clearfix">
	            <div class="message-body clearfix">
	              <div class="header">
	                <small class=" text-muted">
										<span class="glyphicon glyphicon-time"></span>15 mins ago
									</small>
	                <strong class="pull-right primary-font">Bhaumik Patel</strong>
	              </div>
	              <p>
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
	                dolor, quis ullamcorper ligula sodales.
	              </p>
	            </div>
	          </li>
	        </ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
	          <input id="btn-input" type="text" class="form-control input-sm" placeholder="Escriba aquí su mensaje..." />
	          <span class="input-group-btn">
	          	<button class="btn btn-warning btn-sm" id="btn-chat">Enviar</button>
	          </span>
	        </div>
				</div>
      </div>
    </div>
	</div>





	<div class="modal" id="modal-confirmar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Confirmación</h4>
      </div>
      <div class="modal-body">
        <p>¿Esta seguro de pasar al modo colaborativo?</p>
				<p>* Recuerde que el trabajo actual se perderá.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="colaborar" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>
	<script src="js/libs/jquery-2.1.3.min.js"></script>
	<script src="js/libs/bootstrap.min.js"></script>
	<script src="js/libs/codemirror.js"></script>
	<script src="js/libs/fullscreen.js"></script>
	<script src="js/libs/mode/xml.js"></script>
	<script src="js/libs/mode/javascript.js"></script>
	<script src="js/libs/mode/css.js"></script>
	<script src="js/libs/mode/htmlmixed.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
