<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/codemirror.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>LiveCode</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
	    	<div class="navbar-header">
	        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
	        		<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
	      		</button>
	       		<a class="navbar-brand" href="#">LiveCode</a>
	    	</div>
				<div class="navbar-collapse collapse" id="bs-navbar-collapse" aria-expanded="false" style="height: 1px;">
					{% if user %}
		      <ul class="nav navbar-nav">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
								Ejemplos
								<span class="caret"></span>
								</a>
		          <ul class="dropdown-menu" role="menu">
								{% for ejemplo in ejemplos %}
								<li>
									<a id="{{ejemplo.id}}" class="ejemplo" href="#">
										<span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ejemplo.name}}
									</a>
								</li>
								{% endfor %}
								<li class="divider"></li>
		            <li>
									<a id="upload" href="#">
										<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Guardar como ejemplo
									</a>
									</li>
								<li class="divider"></li>
		            <li>
									<a href="/examples">
										<span class="glyphicon glyphicon-th" aria-hidden="true"></span> Todos los ejemplos
									</a>
									</li>
		          </ul>
		        </li>
						<li>
							<a id="confirmar" href="#">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Colaborar
							</a>
						</li>
		        <li>
							<a id="descargar" href="#">
								<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Descargar
							</a>
						</li>
		      </ul>
					{% endif %}
		      <ul class="nav navbar-nav navbar-right">
						{% if user %}
						<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								<span id="user">{{ user.nombre }}</span>
								<span class="caret"></span>
							</a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/logout">Cerrar sesión</a></li>
		          </ul>
		        </li>
						{% else %}
						<li>
							<a href="/login">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Iniciar sesión
							</a>
						</li>
						{% endif %}
		      </ul>
		    </div>
	  </div>
	</nav>
	<div class="row">
		<div class="col-md-6 section-code">
		  	<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#html" aria-controls="home" role="tab" data-toggle="tab">HTML</a>
			    </li>
			    <li role="presentation">
			    	<a href="#css" aria-controls="profile" role="tab" data-toggle="tab">CSS</a>
			    </li>
			    <li role="presentation">
			    	<a href="#js" aria-controls="messages" role="tab" data-toggle="tab">JS</a>
			    </li>
		  	</ul>
		  	<div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="html">
			    	<div class="panel panel-danger">
			  			<div class="panel-heading">
			    			<h3 class="panel-title">HTML</h3>
								<a href="#" class="btn-fullscreen"><span class="glyphicon glyphicon-new-window"></span></a>
			  			</div>
			  			<div class="panel-body">

<textarea id="htmlTextArea">
<!DOCTYPE html>
<html>
  <head>
    <title>LiveCode Demo</title>
  </head>
  <body>
  <!-- Inicio de código -->

	<h1>Hola mundo!!!!</h1>

  <!-- Fin de código -->
  </body>
</html>
</textarea>

			  			</div>
					</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="css">
			    	<div class="panel panel-info">
			  			<div class="panel-heading">
			    			<h3 class="panel-title">CSS</h3>
								<a href="#" class="btn-fullscreen"><span class="glyphicon glyphicon-new-window"></span></a>
			  			</div>
			  			<div class="panel-body">
			    			<textarea id="cssTextArea"></textarea>
			  			</div>
					</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="js">
			    	<div class="panel panel-warning">
			  			<div class="panel-heading">
			    			<h3 class="panel-title">JS</h3>
								<a href="#" class="btn-fullscreen"><span class="glyphicon glyphicon-new-window"></span></a>
			  			</div>
			  			<div class="panel-body">
			    			<textarea id="jsTextArea"></textarea>
			  			</div>
					</div>
			    </div>
		  	</div>
		</div>
		<div class="col-md-6 section-code">
			<iframe class="preview" id="preview" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts"></iframe>
		</div>
	</div>
	<button id="openchat" class="btn btn-success btn-xs btn-chat">
		<span class="glyphicon glyphicon-comment"></span>
	</button>
	<div class="chat">
  	<div class="panel panel-success panel-chat">
	    <div class="panel-heading chat-header">
	      <span class="glyphicon glyphicon-comment"></span> Chat
				<div class="btn-group pull-right">
          <a id="closechat" href="#" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
	    </div>
      <div class="panel-body">
				<div class="chat-body">
	        <ul class="message">
	        </ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
	          <input id="messagechat" type="text" class="form-control input-sm" placeholder="Escriba aquí su mensaje..." />
	          <span class="input-group-btn">
	          	<button id="sendchat" class="btn btn-warning btn-sm">Enviar</button>
	          </span>
	        </div>
				</div>
      </div>
    </div>
	</div>
	<div class="modal" id="modal-upload">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Confirmación</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
	            <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
	            <div class="col-lg-10">
	              <input id="inputNombre" type="text" class="form-control" placeholder="Nombre del proyecto">
	            </div>
	          </div>
						<div class="form-group">
	            <label for="inputDescripcion" class="col-lg-2 control-label">Descripción</label>
	            <div class="col-lg-10">
	              <textarea id="inputDescripcion" class="form-control" placeholder="Descripción del proyecto"></textarea>
	            </div>
	          </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="btn-upload" type="button" class="btn btn-primary">Aceptar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="modal-confirmar">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h4 class="modal-title">Confirmación</h4>
	      </div>
	      <div class="modal-body">
					<p>* Al pasar al modo colaborativo su trabajo actual se perderá.</p>
					<p>Seleccione una sala colaborativa.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        <button id="colaborar" type="button" class="btn btn-primary">Sala 1</button>
					<button id="colaborar2" type="button" class="btn btn-primary">Sala 2</button>
					<button id="colaborar3" type="button" class="btn btn-primary">Sala 3</button>
	      </div>
	    </div>
	  </div>
	</div>
	<script src="js/libs/jquery-2.1.3.min.js"></script>
	<script src="js/libs/bootstrap.min.js"></script>
	<script src="js/libs/codemirror.js"></script>
	<script src="js/libs/emmet.js"></script>
	<script src="js/libs/fullscreen.js"></script>
	<script src="js/libs/mode/xml.js"></script>
	<script src="js/libs/mode/javascript.js"></script>
	<script src="js/libs/mode/css.js"></script>
	<script src="js/libs/mode/htmlmixed.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
